F1Telemetry/Service References/OnlineWebReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://telemetry.azurewebsites.net/RaceUpload" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://telemetry.azurewebsites.net/RaceUpload" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://telemetry.azurewebsites.net/RaceUpload">
      <s:element name="UploadRace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="track" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fastestLap" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sector1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sector2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sector3" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadRaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadRaceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="track" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="laptime" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sector1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sector2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sector3" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadLapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadRaceSoapIn">
    <wsdl:part name="parameters" element="tns:UploadRace" />
  </wsdl:message>
  <wsdl:message name="UploadRaceSoapOut">
    <wsdl:part name="parameters" element="tns:UploadRaceResponse" />
  </wsdl:message>
  <wsdl:message name="UploadLapSoapIn">
    <wsdl:part name="parameters" element="tns:UploadLap" />
  </wsdl:message>
  <wsdl:message name="UploadLapSoapOut">
    <wsdl:part name="parameters" element="tns:UploadLapResponse" />
  </wsdl:message>
  <wsdl:message name="TestLoginSoapIn">
    <wsdl:part name="parameters" element="tns:TestLogin" />
  </wsdl:message>
  <wsdl:message name="TestLoginSoapOut">
    <wsdl:part name="parameters" element="tns:TestLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="UploadRace">
      <wsdl:input message="tns:UploadRaceSoapIn" />
      <wsdl:output message="tns:UploadRaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadLap">
      <wsdl:input message="tns:UploadLapSoapIn" />
      <wsdl:output message="tns:UploadLapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestLogin">
      <wsdl:input message="tns:TestLoginSoapIn" />
      <wsdl:output message="tns:TestLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadRace">
      <soap:operation soapAction="http://telemetry.azurewebsites.net/RaceUpload/UploadRace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLap">
      <soap:operation soapAction="http://telemetry.azurewebsites.net/RaceUpload/UploadLap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestLogin">
      <soap:operation soapAction="http://telemetry.azurewebsites.net/RaceUpload/TestLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadRace">
      <soap12:operation soapAction="http://telemetry.azurewebsites.net/RaceUpload/UploadRace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLap">
      <soap12:operation soapAction="http://telemetry.azurewebsites.net/RaceUpload/UploadLap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestLogin">
      <soap12:operation soapAction="http://telemetry.azurewebsites.net/RaceUpload/TestLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://telemetry.azurewebsites.net/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://telemetry.azurewebsites.net/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>